@import '../../style/common.styl';

.hash-calendar {
  .time_body {
    width: 100%;
    margin-top: px2vw(100px);
  }
  .time_group {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: px2vw(360px);
    margin-top: px2vw(100px);
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
  }
  .time_content {
    touch-action: none;
    padding: 0 px2vw(40px);
    -webkit-overflow-scrolling: touch;
  }
  .time_item {
    padding: px2vw(20px) 0;
    color: vice-font-color;
  }
  .time_item_show {
    color: main-font-color;
  }
  .time_disabled {
    color: red;
  }
}
